version: "3"
services:
  ojt:
    image: 
    container_name: ojt
    ports:
      - 8000:80
    volumes:
      - 
      
      version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
